.footer {
  display: flex;
  height: 100%;
}

.side {
  display: flex;
  flex: 1;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  flex: 3;
  flex-direction: column;
  height: 100%;
}

.title {
  display: flex;
  flex-shrink: 0;
  align-self: center;
  padding: 2px 0;
}

.attribution {
  display: flex;
  align-self: center;
}

.img {
  height: 23px;
}

.img-refresh {
  height: 100%;
}

.button {
  width: 34px;
  height: 34px;
  line-height: 34px;
  border: 2px solid #f5f5f5;
  border-radius: 50%;
  color: #E9E6E6;
  text-align:center;
  text-decoration:none;
  background: #464646;
  box-shadow: 0 0 3px gray;
  font-size:20px;
  font-weight:bold;
  cursor: default;
}

.button:hover {
  background: red;
}

.button-disabled {
  background: #413838;
  color: #918C8C;
  border: 2px solid #747171;
}

.button-disabled:hover {
  background: #413838;
}
