.pagination {
    background-color: lightseagreen;
    min-height: 44px;
}

.pagination button {
    min-width: 44px;
    min-height: 44px;
    padding: 6px 8px;
    margin-top: 1px;
    font-size: 14px;
}

.pagination .container {
    display: flex;
    flex-direction: row;
    flex: 100;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;
    justify-content: space-around;
    align-items: center;
    min-height: 44px;
}
.pagination .item {
    min-width: 44px;
}
