.action-items {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 10;
}

.button {
  height: 50px;
  width: 50px;
  background: #a9a9a9;
  opacity: 0.6;
  border: none;
}

.image {
  height: 100%;
  width: 100%;
  background: none;
}
