.image-grid {
    display: flex;
    flex-direction: row;
    min-height: 450px;
}
.col {
    display: flex;
    flex-direction: column;
}
image-display {
    display: block;
    padding: 5px;
    float: left;
}
