form {
    display: flex;
    justify-content: space-between;
}
button {
    flex: none;
    padding: 6px 8px;
    margin-top: 1px;
    font-size: 14px;
}
input {
    flex: 1;
    padding: 5px;
    margin-right: 5px;
    font-size: 14px;
}